* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #111111;
}
body { background-color: #ffffff; }
a { text-decoration: none; }
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
#container {
  width: 720px;
  margin: 60px auto;
}
#head { margin-bottom: 50px; }
#topbar {
  float: left;
  width: 720px;
  font-size: 16px;
  margin-bottom: 35px;
}
.topbar {
  width: 120px;
  float: left;
}
.topbar-end {
  width: 60px;
  float: left;
}
#sidebar {
  float: left;
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 120px;
  float: left;
}
.sidebar {
  padding-bottom: 1px;
  margin-bottom: 10px;
  margin-right: 20px;
}
#foot {
  float: left;
  margin-top: 30px;
  padding-bottom: 90px;
  text-align: left;
  width: 780px;
  float: left;
}
#foot p {
  font-weight: 300;
  font-size: 12px;
}
#main {
  float: left;
  width: 720px;
  margin: 0px 0px 20px 0px;
  font-size: 12px;
  width: 600px;
  float: left;
}
#main h1 { margin: 0px 0px 10px 0px; }
#main h2 { margin: 0px 0px 10px 0px; }
#main h3 { margin: 0px 0px 10px 0px; }
#main h4 { margin: 0px 0px 10px 0px; }
#main h1 { color: #333333; }
#main p {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 20px;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
#main a {
  font-weight: normal;
  text-decoration: underline;
}
#main a:hover { text-decoration: none; }
#main ul { margin: 0 0 10px 15px; }
#main ol { margin: 0 0 10px 15px; }
#main li {
  line-height: 20px;
  font-weight: normal;
}
#main ul li { list-style-type: circle; }
#main img { margin-bottom: 10px; }
#main iframe { margin-bottom: 10px; }
